@font-face {
    font-family: 'GoogleSansThinItalic';
    src: url(../assets/font/GoogleSans-Black.otf);
}

@font-face {
    font-family: 'GoogleSans-Regular';
    src: url(../assets/font/GoogleSans-Regular.otf);
}