@font-face {
    font-family: 'notosans-bold';
    src: url(../Resource/fonts/notosans-bold.3ede5aff.woff2);
}

@font-face {
    font-family: 'notosans-italic';
    src: url(../Resource/fonts/notosans-italic.1c1aaac9.woff2);
}

@font-face {
    font-family: 'notosans-regular';
    src: url(../Resource/fonts/notosans-regular.2cb88a13.woff2);
}

@font-face {
    font-family: 'notosans-semibold';
    src: url(../Resource/fonts/notosans-semibold.df3e6dc4.woff2);
}
