.wrap-message-form {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0,0,0,.4);
  display: flex;
  justify-content: center;
  align-items: center;
}
  
.wrap-message-form .message-box {
  background-color: #fff;
  width: 444px;
  height: 200px;
  padding: 32px;
}

.message-box .warning-icon{
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #88ec7a;
}

.message-box .warning-content *{
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
}

.wrap-message-form .message-box .space{
  border-bottom: 1px solid #8d9096;
  margin-bottom: 20px;
}

.message-box .mess-footer{
  position: relative;
  height: 36px;
}

.message-box .mess-footer .btn-no{
  border: 1px solid #8d9096;
  height: 36px;
  padding: 8px 20px;
  float: left;
  border-radius: 3px;
}

.warning .mess-footer .btn-no:hover{
  background-color: #d2d3d6;
}

.wrap-message-form .mess-footer .btn-no:active{
  background-color: #bbbcbc;
}

.message-box .mess-footer .btn-ok{
  border: 1px solid transparent;
  height: 35px;
  padding: 8px 20px;
  background-color: #2ca01c;
  color: #fff;
  float: right;
  border-radius: 3px;
}

.message-box .mess-footer .btn-ok:hover{
  background-color: #35bf22;
}

.message-box .div-content{
  height: 80px;
  display: flex;
  align-items: flex-start;
}

.message-box .icon-message{
  height: 100%;
  width: 48px;
}

.message-box .message-content{
  padding: 12px 0px 0px 16px;
  overflow: auto;
  max-height: 400px;
  margin-bottom: 32px;
}
