.main {
    flex: 1;
    background-color: #f1f1f1;
    padding-left: 20px;
    padding-right: 30px;
    display: flex;
    flex-direction: column;
  }
  
  .main-title {
    width: 100%;
    height: 93px;
    display: flex;
    align-items: center;
  }
  
  .main-title-content {
    width: 100%;
    height: 36px;
    
  }
  
  .main .title {
    font-size: 24px;
    font-weight: 700;
    display: inline;
  }
  
  .main-title-btn{
    display: inline-flex;
    float: right;
    align-items: center;
    justify-content: center;
  }
  
  .main-title-btn button span {
    margin-right: 10px;
  }
  
  .main-title-btn .btn-more{
    width: 103px;
    height: 36px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    border: 1px solid #8d9096;
  }
  
  .main-title-btn .btn-more:hover{
    background-color: #b8bcc3;
    cursor: pointer;
  }
  
  .main-title-btn .btn-more:active{
    background-color: #73757a;
  }
  
  .main-title-btn .btn-add{
    background-color: #2ca01c;
    margin-left: 12px;
    height: 36px;
    width: 72px;
    border-radius: 30px 0px 0px 30px;
    border: 1px solid #8d9096;
  }
  
  .main-title-btn .btn-add:hover{
    background-color: #35bf22;
    cursor: pointer;
  }
  
  .main-title-btn .btn-excel{
    width: 46px;
    height: 36px;
    border: 1px solid #8d9096;
    border-radius: 0px 30px 30px 0px;
    background-color: #2ca01c;
  }
  
  .main-title-btn .btn-excel:hover{
    background-color: #35bf22;
    cursor: pointer;
  }
  
  .main-body {
    flex: 1;
    background-color: white;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    /* height: 500px; */
    width: 100%;
    box-sizing: border-box;
  }
  
  .main-body .control{
    width: 100%;
    height: 72px;
    padding: 17px 16px 17px 16px;
    display: flex;
    align-items: center;
  }
  
  .main-body .excution{
    width: 183px;
    height: 36px;
    border: 1px solid #8d9096;
    line-height: 13px;
    font-weight: 600;
    opacity: 0.5;
    border-radius: 30px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  
  .main-body .excution span{
    margin-right: 10px;
  }
  
  .main-body .search-name-id{
    display: inline-flex;
    position: relative;
  }
  
  .main-body .search-name-id input{
    width: 240px;
    height: 36px;
    border: 1px solid #8d9096;
    padding: 6px 10px;
  }
  
  .main-body .search-name-id img{
    position: absolute;
    right: 4px;
    top: 4px;
  }
  
  .main-body .space{
    width: 735px;
    display: inline-flex;
  }
  
  .main-body .three-btn{
    display: inline-flex;
    height: 24px;
  }
  
  .main-body .three-btn img{
    width: 24px;
    height: 24px;
    margin-left: 12px;
    cursor: pointer;
  }
  
  .main-body .three-btn img:hover{
    transform: scale(1.2);  
  }